/static/contestImg/*.png
/static/contestImg/*.bmp
/devices/MagTag/secrets.py
/devices/MatrixPortalM4/secrets.py
/devices/PyPortal/secrets.py
/devices/MagTag/lib/*.mpy
/devices/MagTag/lib/adafruit_bitmap_font/
/devices/MagTag/lib/adafruit_display_text/
/devices/MagTag/lib/adafruit_io/
/devices/MagTag/lib/adafruit_magtag/
/devices/MagTag/lib/adafruit_portalbase/
/devices/MatrixPortalM4/lib/*.mpy
/devices/PyPortal/lib/*.mpy
/devices/PyPortal/lib/adafruit_bitmap_font/
/devices/PyPortal/lib/adafruit_bus_device/
/devices/PyPortal/lib/adafruit_display_text/
/devices/PyPortal/lib/adafruit_esp32spi/
/devices/PyPortal/lib/adafruit_imageload/
/devices/PyPortal/lib/adafruit_io/
/devices/PyPortal/lib/adafruit_portalbase/
/devices/PyPortal/lib/adafruit_pyportal/
/devices/MatrixPortalM4/lib/adafruit_bitmap_font/
/devices/MatrixPortalM4/lib/adafruit_bus_device/
/devices/MatrixPortalM4/lib/adafruit_display_shapes/
/devices/MatrixPortalM4/lib/adafruit_display_text/
/devices/MatrixPortalM4/lib/adafruit_esp32spi/
/devices/MatrixPortalM4/lib/adafruit_io/
/devices/MatrixPortalM4/lib/adafruit_matrixportal/
/devices/MatrixPortalM4/lib/adafruit_portalbase/
/devices/PyPortal/lib/adafruit_display_shapes/
