<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Current Instructables Contests</h1>
<table>
    <thead>
    <tr>
        <td>Contest</td>
        <td>Deadline</td>
        <td>Contest Page</td>
        <td>Contest Graphic</td>
        <td>Entries</td>
    </tr>
    </thead>
    {% for contest in contests %}
        <tr>
            <td>{{ contest.name }}</td>
            <td>{{ contest.date }}</td>
            <td>{{ contest.contest_uri }}</td>
            <td>{{ contest.contest_graphic_uri }}</td>
            <td>{{ contest.entry_count }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>